@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --bg: #000;
  --fg: #fff;
  --link: #0af;
  --border: #fff;
  --accent-bg: #000;
  --accent-fg: #fff;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: 'Press Start 2P', monospace;
  font-size: 12px !important;
  line-height: 1.4;
}

input,
button,
textarea {
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  background: var(--accent-bg);
  color: var(--accent-fg);
  border: 1px solid var(--border);
}

.color-text {
  color: var(--link);
}
